

<form asp-controller="User" asp-action="UserCreateComment" method='post' asp-route-id=@ViewBag.BlogId>
    <div class='m-2'>
        <input name="CommentBody" id="CommentBody" /><input type='submit' value="comment" />
    </div>
</form>