@model IEnumerable<BlogProject.Models.Entity.Blog>
@{
}
<table class="table table-active">
    <tr>
        <td>
            Header
        </td>
        <td>
            Body
        </td>
    </tr>
    @foreach(var i in Model)
    {
        <tr>
            <td>
                @i.header
            </td>
            <td>
                @i.body
            </td>
        </tr>
    }
</table>
